<p>Student Form</p>
<%= form_tag create_path, method: :post do %>
  <label>Students First Name</label>
  <%= text_field_tag :first_name%>
  <label>Students Last Name</label>
  <%= text_field_tag :last_name %>
  <%= submit_tag "Submit Student" %>
<% end %>
fo
